<div class="container">
  <form [formGroup]="addNewRecipeForm" (submit)="ngOnSubmit()">
    <div class="form-container">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Title of recipe </mat-label>
        <input matInput formControlName="title" required />
        <mat-error
          *ngIf="
            addNewRecipeForm.controls.title.touched &&
            addNewRecipeForm.controls.title.invalid
          "
        >
          <span *ngIf="addNewRecipeForm.controls.title.errors?.required"
            >This field is mandatory.</span
          >
          <span *ngIf="addNewRecipeForm.controls.title.errors?.maxlength"
            >This field allows maximum of 30 characters</span
          >
          <span *ngIf="addNewRecipeForm.controls.title.errors?.minlength"
            >This field allows minimum of 3 characters</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Preparation Time (minutes)</mat-label>
        <input matInput formControlName="preparationTime" required />
        <mat-error
          *ngIf="
            addNewRecipeForm.controls.preparationTime.touched &&
            addNewRecipeForm.controls.preparationTime.invalid
          "
        >
          <span
            *ngIf="addNewRecipeForm.controls.preparationTime.errors?.required"
            >This field is mandatory.</span
          >
          <span
            *ngIf="addNewRecipeForm.controls.preparationTime.errors?.pattern"
            >Only numbers are allowed</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Coocking Time (minutes)</mat-label>
        <input matInput formControlName="preparationTime" required />
        <mat-error
          *ngIf="
            addNewRecipeForm.controls.coockingTime.touched &&
            addNewRecipeForm.controls.coockingTime.invalid
          "
        >
          <span *ngIf="addNewRecipeForm.controls.coockingTime.errors?.required"
            >This field is mandatory.</span
          >
          <span *ngIf="addNewRecipeForm.controls.coockingTime.errors?.pattern"
            >Only numbers are allowed</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Calories</mat-label>
        <input matInput formControlName="preparationTime" required />
        <mat-error
          *ngIf="
            addNewRecipeForm.controls.calories.touched &&
            addNewRecipeForm.controls.calories.invalid
          "
        >
          <span *ngIf="addNewRecipeForm.controls.calories.errors?.required"
            >This field is mandatory.</span
          >
          <span *ngIf="addNewRecipeForm.controls.calories.errors?.pattern"
            >Only numbers are allowed</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficuilty">
          <mat-option value="1">Easy</mat-option>
          <mat-option value="2">Normal</mat-option>
          <mat-option value="3">Intermediate</mat-option>
          <mat-option value="4">Hard</mat-option>
          <mat-option value="5">Expert</mat-option>
        </mat-select>
        <mat-error *ngIf="addNewRecipeForm.controls.difficuilty.touched && addNewRecipeForm.controls.difficuilty.invalid">
          <span *ngIf="addNewRecipeForm.controls.difficuilty.errors?.required"
            >This field is mandatory.</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Daily meal</mat-label>
        <mat-select formControlName="dailyMeal">
          <mat-option value="Breakfest">Breakfest</mat-option>
          <mat-option value="Lunch">Lunch</mat-option>
          <mat-option value="Dinner">Dinner</mat-option>
          <mat-option value="Brunch">Brunch</mat-option>
          <mat-option value="Snack">Snack</mat-option>
        </mat-select>
        <mat-error *ngIf="addNewRecipeForm.controls.dailyMeal.touched && addNewRecipeForm.controls.dailyMeal.invalid">
          <span *ngIf="addNewRecipeForm.controls.dailyMeal.errors?.required"
            >This field is mandatory.</span
          >
        </mat-error>
      </mat-form-field>
    </div>
    <div class="dynamic-field-step">
      <div class="inline-container" *ngFor="let control of ingredientAsFormArray.controls; let i = index;"
      formArrayName="ingredients">
        <mat-form-field appearance="outline" [formGroupName]="i">
          <mat-label> Ingridient </mat-label>
          <input matInput formControlName="igredient" required />
        </mat-form-field>
        <mat-form-field appearance="outline" [formGroupName]="i">
          <mat-label> Ammount </mat-label>
          <input matInput formControlName="amount" required />
        </mat-form-field>
        <mat-form-field appearance="outline" [formGroupName]="i">
          <mat-select formControlName="measurement">
            <mat-option value="Tablespoon">Tablespoon</mat-option>
            <mat-option value="Teaspoon">Teaspoon</mat-option>
            <mat-option value="Cup">Cup</mat-option>
            <mat-option value="Generally">Generally</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="accent" type="button" (click)="ngAddIngredient()">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
    </div>
    <div class="dynamic-field-step">
      <div class="inline-container" *ngFor="let control of stepFieldAsFormArray.controls; let i = index;" 
      formArrayName="steps">
        <mat-form-field appearance="outline" [formGroupName]="i">
          <mat-label> Enter steps of the recipe </mat-label>
          <textarea  matInput class="form-field" formControlName="step" required></textarea>
        </mat-form-field>
        <button mat-mini-fab color="accent" type="button" (click)="ngAddStep()">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
    </div>
    <div class="dynamic-field-steps">
    <div class="inline-container">
      <mat-form-field appearance="outline">
        <mat-label> Add photos if you want </mat-label>
        <input matInput class="form-field" #fileTable disabled />
      </mat-form-field>
      <button mat-mini-fab color="accent" type="button" (click)="fileInput.click()">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
      <input type="file" style="display: none;" #fileInput (change)="ngOnFileSelected($event)" />
    </div>
    </div>
    <button mat-raised-button color="accent" type="submit">
      Submit recipe
    </button>
  </form>
</div>
