<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex="25%"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let recipe of allRecipes"
    >
      <mat-card class="card">
        <a routerLink="../detailed/{{ recipe.id }}" mat-button color="accent">
          <mat-card-header>
            <mat-card-title>{{ recipe.title }}</mat-card-title>
          </mat-card-header>
          <img *ngIf="recipe.photos.length >= 1" mat-card-image src="{{ recipe.photos[0] }}" />
          <img *ngIf="recipe.photos.length == 0" mat-card-image src="https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png" />
        </a>
        <mat-card-content>
          <p>
            Difficulty: <strong> {{ recipe.difficulty }}/5 </strong> Calories:
            <strong> {{ recipe.calories }} </strong> Total time:
            <strong>
              {{ recipe.preperationTime + recipe.cookingTime }} min
            </strong>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
