@page "/add-new"

<h3>AddNew</h3>

<button class="btn btn-outline-primary" @onclick="AddNewSubmit"> Submit </button>

@code {
    private void AddNewSubmit()
    {
        Console.WriteLine("Form has been submited YAY!");
    }
}
