@page "/recipe/{recipeId}"
@inject NavigationManager NavManager
@using recifever_blz.Services.RecipeServices
@using recifever_blz.Models;

<PageTitle> Recifever Blazor </PageTitle>

@if(CurrentRecipe == null)
{
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
}
else
{
    <h1> @CurrentRecipe.Title </h1>
    <div class="container-sm container-fluid text-center">
        <div id="carouselexamplecontrols" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
                @foreach(string photo in CurrentRecipe.Photos)
                {
                    <div class="carousel-item active">
                        <img src="@photo" class="d-block w-75">
                    </div>
                }
            </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselexamplecontrols" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselexamplecontrols" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">next</span>
          </button>
        </div>
    </div>
    
}

@code {
    [Parameter]
    public string? recipeId { get; set; } = null!;
    [Inject]
    public IRecipeService? RecipeService { get; set; } = null!;
    public Recipe? CurrentRecipe { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            CurrentRecipe = (await RecipeService.GetRecipeAsync(recipeId));
            Console.WriteLine(CurrentRecipe.Title);
        }
        catch
        {
            NavManager.NavigateTo("/");
        }
    }
}
