@page "/"
@attribute [Authorize]
@inject NavigationManager NavigationManager;


<PageTitle> Recifever Blazor </PageTitle>

<h3> Explore your favorite meals @CurrentUser! </h3>

@if (Recipes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex flex-wrap">
      @foreach(var recipe in Recipes)
        {
            <div class="order-3 p-2 bd-highlight">
              <div class="card border-primary" style="width: 18rem;">
                <img class="card-img-top" src="@recipe.Photos?.First()" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> @recipe.Title </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="recipe/@recipe.Id" class="btn btn-outline-primary"> Details </a>
                </div>
             </div>
            </div>
        } 
    </div>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; } = null!;

    public List<Recipe> Recipes { get; set; } = null!;
    public string CurrentUser { get; set; } = null!;
    [Inject]
    public IRecipeService RecipeService { get; set; } = null!;
    [Inject]
    public IJSRuntime JSRuntime { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await authenticationState;
        CurrentUser = authState.User.Identity.Name;
        Recipes = (await RecipeService.GetAllRecipesAsync()).ToList();
    }
}